@using OrganizationChartMIS.Data.Models

<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEmployeeModalLabel">Create New Employee</h5>
            </div>
            <div class="modal-body">
                <form id="createEmployeeForm" method="post">
                    <div class="form-group">
                        <label>Department</label>
                        <select for="department" class="form-control " id="department" name="Department" required>
                            <option>Select a Department</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Full Name</label>
                        <input for="Name" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label >Company Email</label>
                        <input for="Email" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label >Company Position</label>
                        <select for="postion" id="position" class="form-control" >
                            <option>Select Position</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Status</label>
                        <select for="Status" class="form-control" required>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="hideModal('addEmployeeModal')">Close</button>
                        <button type="submit" class="btn btn-primary">Create New Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
