@using OrganizationChartMIS.Data.Models

<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Create New Employee</h5>

            </div>

            <form method="post" asp-page-handler="AddNewEmployee">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="department">Department</label>
                        <select class="form-control" id="department" name="Department">
                            <option>Select a Department</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="enployeeName">Full Name</label>
                        <input type="text" class="form-control" id="employeeName" name="Name" required />
                    </div>

                    <div class="form-group">
                        <label for="employeeEmail">Company Email</label>
                        <input type="email" class="form-control" id="employeeEmail" name="Email" required />
                    </div>

                    <div class="form-group">
                        <label for="employeePosition">Company Position</label>
                        <select class="form-control" id="position" name="Position" required>
                            <option>Select Position</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeParent">Supervisor</label>
                        <select class="form-control" id="supervisor" name="Supervisor" required>
                            <option>Select Supervisor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="employeeStatus">Status</label>
                        <select class="form-control" id="status" required>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                    </div>

                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onlick="hideModal">Close</button>
                <button type="button" class="btn btn-primary">Create New Employee</button>
            </div>

        </div>

    </div>

</div>
