@page
@using OrganizationChartMIS.Data.Models
@using Kendo.Mvc.UI
@using OrgChartNodeObject = OrganizationChartMIS.Data.Models.OrgChartNode;
@model OrganizationChartMIS.Pages.OrganizationChart.OrganizationChartModel

<!DOCTYPE html>
<html>
<head>
    <title>Organization Chart</title>
    <style>
        .orgchart-container {
            text-align: center;
            padding: 20px;
            min-height: 100vh;
        }
        .custom-node {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            margin: 5px;
        }
        .custom-node .field {
            margin: 5px 0;
        }

        .k-orgchart {
            gap: 5px;
            min-height: 100vh;
        }

            .k-orgchart .k-orgchart-group {
                margin-bottom: 5px; 
            }

            .k-orgchart .k-orgchart-item {
                margin: 0 5px;
            }
    </style>
</head>
<body>
    <div id="example" class="orgchart-container">
        <h1 class="text-center">Organization Chart</h1>
        <div id="orgchart"></div>
    </div>

    @section Scripts {

        <script src="~/js/OrgChartControl.js"></script>
    }
</body>
</html>