@page
@using OrganizationChartMIS.Data.Models
@using Kendo.Mvc.UI
@using OrgChartNodeObject = OrganizationChartMIS.Data.Models.OrgChartNode;
@model OrganizationChartMIS.Pages.OrganizationChart.OrganizationChartModel
@section Scripts {

    <script src="~/js/OrgChartControl.js"></script>
}
<div class="container">
    <h1>Organization Chart</h1>
    <div id="orgchart" style="height: 600px; width: 100%;"></div>
</div>

