@page
@using OrganizationChartMIS.Data.Models
@using OrgChartNodeObject = OrganizationChartMIS.Data.Models.OrgChartNode;
@model OrganizationChartMIS.Pages.OrganizationChart.OrganizationChartModel
@section Scripts {
    <script src="~/js/orgChartControl.js"></script>
}

<h1>Organization Chart</h1>
<div id="orgChart"></div>
