@page "/Home"

@model OrganizationChartMIS.Pages.Home.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> MIS Organization Chart Application</h1>
    <a class="btn btn-primary" href="/Employees/Index">View Employees</a>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
    <a class="btn btn-info" href="/OrgChart/Index">View Organization Chart</a>
</div>


