@using OrganizationChartMIS.Data.Models

<div class="modal fade" id="createNodeModal" tabindex="-1" role="dialog" aria-labelledby="createNodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createNodeModalLabel">Create Node</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createNodeForm">
                    <div class="form-group">
                        <label for="positionId">Position</label>
                        <select id="positionId" class="form-control" required>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="employeeId">Employee</label>
                        <select id="employeeId" class="form-control" required>
                        </select>
                    </div>
                    <input type="hidden" id="parentId">
                    <input type="hidden" id="departmentId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveNode()">Save</button>
            </div>
        </div>
    </div>
</div>
