@page
@model OrganizationChartMIS.Pages.Dashboard.DashboardModel
@section Scripts {
    <script src="~/js/ModalControl.js" asp-append-version="true"></script>
    <script src="~/js/DashboardController.js" asp-append-version="true"></script>
}

<partial name="EmployeePartials/_AddEmployeeModal" model="@Model.NewEmployee" />
<partial name="EmployeePartials/_UpdateEmployeeModal" model="@Model.NewEmployee" />
<partial name="EmployeePartials/_DeleteEmployeeModal" model="@Model.NewEmployee" />

<style>
    .screen {
        display: block;
    }
</style>


<div class="h-100">

    <div class="row h-100">

        <!-- Navigation bar  -->
        <div class="bg-dark text-white col-4 h-100">
            <h2>Dashboard</h2>
            <ul class="d-grid gap-2">
                <a href="OrganizationChart/OrganizationChart">
                    <div>Organization Chart</div>
                </a>
                <div onclick="showScreen('screen1')">Departments</div>
                <div onclick="showScreen('screen2')">Employees</div>
                <div onclick="showScreen('screen3')">Positions</div>
                <div onclick="showScreen('screen4')">Teams</div>
            </ul>
        </div>

        <!-- Main content -->
        <div class="col-8">
            <div id="screen1" class="screen active">
                Departments
                <partial name="DashboardPartials/Departments">
            </div>
            <div id="screen2" class="screen" style="display: none;">
                Employees
                <partial name="DashboardPartials/Employees">
            </div>
            <div id="screen3" class="screen" style="display: none;">
                Positions
                <partial name="DashboardPartials/Positions">
            </div>
            <div id="screen4" class="screen" style="display: none;">
                Teams
                <partial name="DashboardPartials/Teams">
            </div>
        </div>

    </div>
</div>